*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: space-between;
}

nav ul{
    display: flex;
}

nav ul li{
    border-radius: 2vmin;
    font-size: 3vmin;
    font-style: bold;
    list-style: none;
    margin-right: 10px;
    padding: 2vmin;
}

nav ul li:hover{
    background-color: gray;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

#logo{
    height: 10vh;
    width: 30vw;
}